@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
body {
  font-family: 'Open Sans', sans-serif;
}

.text-field {
  margin-bottom: 40px;
}

.form-container {
  width: 400px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

p {
  font-style: italic;
  font-size: 15px;
  font-weight: 200;
}

.submit-btn {
  background: #3f51b5;
  color: #fff;
  border: none;
  position: relative;
  height: 60px;
  border-radius: 12px;
  text-transform: uppercase;
  font-size: 17px;
  padding: 6px 135px;
  cursor: pointer;
  transition: 800ms ease all;
  outline: none;
}

.submit-btn:hover {
  background: #389ff1;
}
