.nav-bar {
  width: 100%;
  height: 64px;
  align-items: center;
  display: flex;
  flex-flow: row;
  font-size: 30px;
  background-color: #2196f3;
}
.link {
  padding: 10px;
  margin: 20px;
  color: white;
  text-decoration: none;
  opacity: .7;
}

.link:hover {
  transition: 300ms;
  opacity: 1;
  margin: 20px;
  color: white;
  text-decoration: none;
}

